<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tienda Online Telsur</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/consulta.css">
    
    

</head>

<body>
    <div class="jumbotrom">
        <div class="page-header text-center">
        <h1>
            Telsur Comunicaciones S.A.C
        </h1>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: #FF0000;">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
            </ul>
            
            <ul class="navbar-nav">
                <div class="navbar-brand">
                    Cliente: Arnaldo Maguiña
                </div>
                <a onclick=" location.href='./catalogo'" class="navbar-brand" href="#" id="NavbarInicio">
                    Cerrar Sesion
                </a>

            </ul>
        </div>
        </nav>


    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    Numero de Pedido : 212315
                </div>
                
                <div class="row">
                    Estado del Pedido: En espera
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    Vendedor: Jhon Ataucuri  
                    <img id="NavbarCarrito" src="/img/whatsapp.jpg" width="80" height="40" class="d-inline-block align-top" alt="" loading="lazy">

                </div>
                <div class="row">
                    Estado del Pago: Pendiente
                    <button id="Pago" type="button" class="btn btn-secondary" data-dismiss="modal"> Ver Pago</button>

                </div>
            </div>
            
        </div>
        
        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio(S/.) </th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Monto</th>
                  </tr>
                </thead>
                <tbody id="table1">
                  <tr>
                    <th scope="row">1</th>
                    <td>Samsung S10 Lite 128GB</td>
                    <td>1799</td>
                    <td>1</td>
                    <td>1799</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Motorola Moto G8 Plus 64GB</td>
                    <td>769</td>
                    <td>2</td>
                    <td>1538</td>
                  </tr>
                </tbody>
              </table>
        </div>
        
          <div class="row">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto"><b>Importe:</b> S/.3337.00</div>
             
          </div>
    </div>
    <div class="modal fade" id="FlotantePago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Pago</h3>
              
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                       
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Forma de Pago:</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Deposito o Transferencia</option>
                                        <option>Efectivo</option>
                                    </select>  
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlFile1">Insertar Voucher:</label>
                              <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                          </form>
                    </div>
                    <div class="col-6">
    
                        <div class="card">
                            <div class="card-body">
                                <img src="/img/voucher.jpg" class="img-fluid" alt="Responsive image">
                            </div>
                          </div>
                       
                    </div>
                </div>
                
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>
      </div>
  
    <script>
        let carrito = document.getElementById("Pago");
            carrito.onclick = function(){
            $("#FlotantePago").modal('show');
          
            }
    </script>
</body>
</html>